.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr:hover {
  background: #d6f1f8b7;
}

.legal {
  font-style: italic;
}

#Footer a.item a {
  color: black !important;
}
#Footer a.item a:hover,
#Footer a {
  color: #333 !important;
  font-weight: bold;
}
